
.jumbotron {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    min-height: 100px;
    color: black;
    background-color: lightslategrey;  
    letter-spacing:3px;
    
}

.footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; 
    padding: 1px;
    letter-spacing: 1px;
}

.body{
    background-color: rgb(197, 197, 197);
    height:3800px;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; 
    padding: 10px;
    letter-spacing: 1px;
}

.nav-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; 
    letter-spacing: 1px;
    text-align: center;
}


.mainCol {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    height:100%;
}

#me {
    border-radius:10px;
}

hr {
    display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  width: 50%;
}

.mainHeading {
    font-family: 'Open Sans', sans-serif; 
    font-size: 25px;
    font-weight:650;
    
}

.topHeader {
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px;
    font-weight:650;
    letter-spacing:3px;
    
}

.mainArticle {
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px;
    text-align:left;
    font-weight:600;
}

.mainBio {
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    text-align:left;
    font-weight:600;
    padding: 10px;
}

.leftTxt {
    text-align: left;
    font-size:15px;
    
}


.displayed {
    vertical-align:center;
    margin-left: auto;
    margin-right: auto; 
    border-radius:15px;
    border: solid lightslategrey 3px;
}

.displayedSelfie {
    vertical-align:center;
    margin-left: auto;
    margin-right: auto; 
    border-radius:100px;
    border: solid lightslategrey 3px;
}

#footer {
    font-family: 'Open Sans', sans-serif;  
    
}



a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

